.techBadge {
  display: flex;
  padding: 0px 20px;
  font-size: 0.8rem;
  color: #fff;
  background-color: #161620;
  border-radius: 20px;
  align-items: center;
  border: 2px solid #6C3CAA;

  i {
    margin-right: 10px;
    font-size: 1rem;
  }
  p {
    margin: 10px 0px;
    font-weight: bold;
  }
}