.techbadges {
  width: 75%;
  margin: 45px auto 10px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px;
  border-radius: 28px;
  background: var(--base);
  border: 1px solid var(--highlight);
}

.techcontainer {
  display:inline-flex;
  flex-wrap: wrap;
  margin: 5px 5px;
  padding: 10px 25px;
  align-items: center;
  border:  2px solid var(--highlight);
  border-radius: 50px;
}