.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  border-radius: 50px;
  background-color: #161620;
  height: 40px;
  margin: 25px 100px;
  border: #372252 solid 3px;
  position: sticky;
  top: 25px;
}

.navbar .navlinks {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding-left: 0px;
}

.navbar .navlinks a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar .navlinks a:hover {
  color: #986da6;
}