.card {
    background-color: #161620;
    border-radius: 8px;
    gap : 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 25px 300px;

    h2 {
        margin-top: 0px;
        margin-bottom: 5px;
    }
}

.stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}