.card {
    background-color: #161620;
    border-radius: 8px;
    gap : 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 25px 300px;
}

.stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}