.experience {
  width: 75%;
  margin: 25px auto 10px;
}

.card {
  padding: 10px 60px;
  border-radius: 28px;
  background: var(--crust);
  border: 1px solid var(--highlight);
}

.experiencecontainer {
  display: flex;
  background: var(--crust);
  /* border: 1px solid var(--highlight); */
}

.type {
  width: 20%;
  padding: 10px 20px;
  margin: 0px 10px 0px 0px;
  border-radius: 28px;
  background: var(--crust);
  border: 1px solid var(--highlight);
}

.info {
  width: 80%;
  padding: 10px 20px;
  margin: 0px 0px 0px 10px;

  border-radius: 28px;
  background: var(--crust);
  border: 1px solid var(--highlight);
}
