:root {
  --sublayer-2: hsl(253, 26%, 14%);
  --sublayer-1: hsl(253, 26%, 12%);
  --sublayer-0: hsl(253, 26%, 10%);
  --base: hsl(253, 23%, 8%);
  --crust: hsl(253, 26%, 6%);
  --mantel: hsl(253, 26%, 4%);

  --accent: hsl(266, 46%, 45%);
  --highlight: hsl(266, 28%, 35%);
  --text: hsl(215, 60%, 88%);
  --text-muted: hsl(215, 25%, 75%);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--crust);
}

html {
  scroll-behavior: smooth;
}