:root {
  --sublayer-2: hsl(253, 26%, 14%);
  --sublayer-1: hsl(253, 26%, 12%);
  --sublayer-0: hsl(253, 26%, 10%);
  --base: hsl(253, 23%, 8%);
  --crust: hsl(253, 26%, 6%);
  --mantel: hsl(253, 26%, 4%);

  --accent: hsl(266, 46%, 45%);
  --highlight: hsl(266, 28%, 35%);
  --text: hsl(253, 38%, 79%);
  --text-muted: hsl(253, 25%, 75%);

  /* Font Size for About and Navbar */
  --header1: 46px;
  --header2: 36px;
  --header3: 28px;
  --header4: 22px;
  --content: 16px;

  /* Font Size for Experiences and Education */
  --exp-header1: 36px;
  --exp-header2: 26px;
  --exp-header3: 18px;
  --exp-header4: 16px;
  --exp-content: 12px;


  
  font-family: monospace, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text);
  background-color: var(--crust);
}

html {
  scroll-behavior: smooth;
}